@font-face {
  font-family: AmaticBold;
  src: url(AmaticSC-Bold.ttf);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(60, 60, 60);
  background: #E6DADA; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#overlay {
  display: flex;
  justify-content: center;
}

#game_title {
  font-family: AmaticBold;
  font-size: 100px;
}

#center {
  border: 2px solid rgb(150, 150, 150);
  border-radius: 2%;
  padding: 50px;
  margin-top: 10%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: -5px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(238, 197, 136, 0.15)
}

#center:hover {
  transform: scale(1.02);
}

#start_button {
  border-bottom: 1px solid #444444;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 7px;
}
